.App {
  text-align: center;
  margin-top: 20px;
}

.h1 {
  font-size: 2.5em;
  margin-bottom: 1rem;
}

p {
  margin-top: 1rem;
  font-size: 1.1em;
  color: #555;
}

/* Container for all boxes */
.ColorBoxesContainer {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-gap: 8px;
  justify-content: center;
  border: 2px solid black;
  margin: 20px auto;
}


/* Each color box */
.ColorBox {
  background-color:yellow;
  color: black;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.ColorBox:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 400px) {
  .ColorBox {
    font-size: 0.5rem;
  }
  .ColorBoxContainer{
    flex-direction: column;
  }
}